/* CSS Document */


header{
	margin-top: 30px;
}
.Title{
	
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 50px;
	display: flex;
	margin-left: 200px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.Personallogo{
	width: 800px;
	display: flex;
	margin-left: 150px;
	margin-bottom: 40px;
	
}
.Main-logos{
	width: 800px;
	margin-bottom: 40px;
	margin-left: -200px;
	justify-content: space-between;
}


.Logos{
	width: 200px;
	height: 124px;
justify-content: space-between;
display: flex;
	margin-left: 100px;
	
}

main{
	width: 800px;
	margin: 0 auto;
}

.Colorpalette{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.Color-box{
	width: 300px;
	height: 200px;
	border: 0px;
	
}

.Swatch{
	width: 120px;
	height: 120px;
	border-radius:120px;
	margin-bottom: 30px;
	margin-left: 50px;
	
	
	
}

.green{
	background-color:#364415
}

.blue{
	background-color:#C0E6EC
}

.yellow{
	background-color:#FFD992
}

.red{
	background-color:#BE3900
}








h3{
	
	margin: 0 auto;
	display: flex;
	margin-left: 74px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: 550;
}



h4{
	
	margin: 0 auto;
	display: flex;
	margin-left: 72px;
	margin-top: 10px;
 font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: 100;
	justify-content: space-between;
	 
}


body{
	
	background-color: #ABB39B;
}

.typeface-box{
	width: 700px;
	height: 200px;
	border: 0;
	display: flex;
	margin: 0 auto;
	margin-top: 50px;
	justify-content: space-between;
	
}

.Typefacename1{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";

	
}


.Gothic{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight:bolder;
	margin-left: 10px;
}

.Typefacename2{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";

			}



.Helvetica{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; 
	font-weight:lighter;
	margin-right: 20px;
}

.pagecolor{
	
	width: 900px;
	height: 1280px;
	background-color:#FFFFFF;
	margin-left: 120px;
}



	
.moodboard{
	display: flex;
	margin: 0 auto;
	margin-left: -73px;
	margin-top: -110px;
	width: 1500px;
	height: 400px;
	
}

.Htype{
	font-size: 35px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight:lighter;
}

.Gtype{
	font-size: 35px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}



.row {
  display: flex;
	box-sizing: border-box;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}

.one{
	margin-top: -40px;
	margin-left: 20px;
}

.two{
	margin-top: 70px;
	margin-left: -95px;
}

.three{
	margin-top: 10px;
	margin-left: -20px;
}

.four{
	margin-top: -60px;
	margin-left: -140px;
}

.five{
	margin-top: 60px;
	margin-left: 0px;
}

.six{
	margin-top: -40px;
	margin-left: -60px;
}

.seven{
	margin-top: -60px;
	margin-left: -25px;
}

.eigth{
	margin-top: 65px;
	margin-left: -100px;
}

.nine{
	margin-top: -30px;
	margin-left: -60px;
}

.ten{
	margin-top: 80px;
	margin-left: -60px;
}

.eleven{
	margin-top: -20px;
	margin-left: -40px;
}

.twelve{
	margin-top: 40px;
	margin-left: -35px;
}

.thriteen{
	margin-top: -30px;
	margin-left: -90px;
}

.fourteen{
	margin-top: -30px;
	margin-left: 5px;
}

.fifteen{
	margin-top: 85px;
	margin-left: -125px;
}

.sixteen{
	
	margin-top: 60px;
}

